{% extends "layouts/page.njk" %}

{% block header %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
  {{ content }}
{% endblock %}

{% block bodyEnd %}
{{super()}}


  <script src="/assets/iframeResizer.contentWindow.js"></script>
  <link rel="stylesheet" href="/sass/application.css">

{% endblock %}
