{% extends "layouts/base.njk" %}

{% block beforeContent %}
  {{ govukBreadcrumbs({
    classes: "govuk-!-display-none-print",
    items: [
          {
            text: options.parentSite.name,
            href: options.parentSite.url
          }

          ]
  }) if showBreadcrumbs }}
{% endblock %}

{% block content %}
  {{ appDocumentHeader({
    title: title,
    description: description
  }) }}

  {{ appProseScope(content) if content }}

  <h2 class="govuk-heading-m">Design</h2>



  <ul class="govuk-list">
  {%- for item in collections['Design']  -%}
    <li> <a class='govuk-link' href="{{ item.url | pretty }}">{{ item.data.title }}</a></li>
  {%- endfor -%}
  </ul>

  <h2 class="govuk-heading-m">Code</h2>

  <ul class="govuk-list">
  {%- for item in collections['Code'] -%}
    <li>  <a class='govuk-link' href="{{ item.url | pretty }}">{{ item.data.title }}</a></li>
  {%- endfor -%}
  </ul>

<!--

  <ul class="govuk-list">


  {% for item in collections.ordered | eleventyNavigation(sectionKey or options.homeKey) %}
      <li>
        <a class='govuk-link' href="{{ item.url | pretty }}">{{ item.title }}</a>
      </li>

  {% endfor %}
</ul>

-->
  {% include "layouts/shared/related.njk" %}
{% endblock %}
