{% extends "layouts/product.njk" %}

{% block content %}
  {{ content }}
  <div class="govuk-grid-row">

      <div class="govuk-grid-column-full">
<!--        <h2 class="govuk-heading-l govuk-!-font-size-27">
          {{ sections.title or app.sections.title or "Examples" }}
        </h2> -->
      </div>
      {% for item in collections.ordered | eleventyNavigation(sectionKey or options.homeKey) %}
        <section class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
          <h3 class="govuk-heading-m govuk-!-margin-bottom-1">
            <a href="{{ item.url | pretty }}">{{ item.title }}</a>
          </h3>
          <p class="govuk-body">{{ item.excerpt }}</p>
        </section>
      {% endfor %}

  </div>
{% endblock %}
