{% extends "layouts/product.njk" %}


{% set baseText %}
<ul class="govuk-list">

<p class="x-govuk-masthead__description">{{description}}</p>

{% for item in collections.ordered | eleventyNavigation(sectionKey or options.homeKey) %}

    <li class="x-govuk-masthead__description">
      <a class='govuk-link' href="{{ item.url | pretty }}">{{ item.title }}</a>

    </li>
{% endfor %}
</ul>
</div>
{% endset %}

{% block main %}
  <main id="main-content" role="main" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {{ xGovukMasthead({
      title: {
        html: title | smart
      } if title,
      description: {
        html: description | noOrphans
      } if description,
      startButton: {
        href: startButton.href,
        text: startButton.text
      } if startButton,
      image: {
        alt: image.alt,
        src: image.src
      } if image,
      breadcrumbs: {
        classes: "govuk-!-display-none-print",
        items: [
            {
              text: options.parentSite.name,
              href: options.parentSite.url
            }

            ]
      }
    }) }}
    <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-top-6">
  {% block beforeContent %}{% endblock %}
      {{ appProseScope(content) if content }}

      <div class="govuk-grid-column-full">
      </div>
<div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">Design</h2>



      <ul class="govuk-list">
      {%- for item in collections['Design']  -%}
        <li> <a class='govuk-link' href="{{ item.url | pretty }}">{{ item.data.title }}</a></li>
      {%- endfor -%}
      </ul>
</div><div class="govuk-grid-column-one-half govuk-!-margin-bottom-6">
      <h2 class="govuk-heading-m">Code implementation</h2>

      <ul class="govuk-list">
      {%- for item in collections['Code'] -%}
        <li>  <a class='govuk-link' href="{{ item.url | pretty }}">{{ item.data.title }}</a></li>
      {%- endfor -%}
      </ul>
</div>

</div>


    </div>

    <div class="govuk-width-container">
    <div class="govuk-grid-row govuk-!-margin-top-6">
    <div class="govuk-grid-column-full">

      <h2 class="govuk-heading-m">Find out how to use and contribute</h2>
    <p class="govuk-body">You can also find out how to <a class="govuk-link" href="/contribute">contribute</a> to the examples.
    </p>
    </div>
    </div>
    </div>
  </main>
{% endblock %}
