{% extends "layouts/product.njk" %}


{% set baseText %}
<ul class="govuk-list">

<p class="x-govuk-masthead__description">{{description}}</p>

{% for item in collections.ordered | eleventyNavigation(sectionKey or options.homeKey) %}

    <li class="x-govuk-masthead__description">
      <a class='govuk-link' href="{{ item.url | pretty }}">{{ item.title }}</a>

    </li>
{% endfor %}
</ul>
</div>
{% endset %}

{% block main %}
  <main id="main-content" role="main" {%- if mainLang %} lang="{{ mainLang }}"{% endif %}>
    {{ xGovukMasthead({
      title: {
        html: title | smart
      } if title,
      description: {
        html: baseText | noOrphans
      } if description,
      startButton: {
        href: startButton.href,
        text: startButton.text
      } if startButton,
      image: {
        alt: image.alt,
        src: image.src
      } if image,
      breadcrumbs: {
        classes: "govuk-!-display-none-print",
        items: [
            {
              text: options.parentSite.name,
              href: options.parentSite.url
            }

            ]
      }
    }) }}
    <div class="govuk-main-wrapper {%- if mainClasses %} {{ mainClasses }}{% endif %}">
      <div class="govuk-width-container {%- if containerClasses %} {{ containerClasses }}{% endif %}">

          {{ appProseScope(content) if content }}

      </div>
    </div>
  </main>
{% endblock %}
