{# Plugin layouts can be loaded from "layouts" #}

{% set title = "Name" %}

{% extends "layouts/page.njk" %}

{% block header %}
{% endblock %}

{# Load any GOV.UK Frontend components #}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% block content %}
  {# Templates can include front matter data #}
  {{ govukNotificationBanner({
    text: "This page was last reviewed on " + (reviewed | date("d LLLL y")) + ".
    It needs to be reviewed again on " + (reviewAgain | date("d LLLL y")) + "."
  }) if reviewed and reviewAgain }}



  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {%- from "govuk/components/tag/macro.njk" import govukTag -%}


  <span class="govuk-caption-xl">
          Original version
        </span>



        <form class="form" action="#" method="post">






          <h1 class="govuk-heading-l">
            Do you know the gender of the goose?
          </h1>

    <!--       <p>You can get help to figure out what type of goose it is with <a href="https://www.countryfile.com/wildlife/how-to-identify/guide-to-britains-geese-how-to-identify-and-where-to-see">guidance from BBC Countryfile.</a></P>
    -->

    <p>If you can tell the gender of the goose, this will help us monitor the gender mix of the goose population.</p>
      <p>A male goose is normally larger than a female goose, has a deeper honk and may be more aggressive.</p>







    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">


        <div class="govuk-radios" data-module="govuk-radios">







          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="higher-further-education" name="higher-further-education" type="radio" value="Yes">
            <label class="govuk-label govuk-radios__label" for="higher-further-education">
              Yes
            </label>

          </div>








          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="higher-further-education-2" name="higher-further-education" type="radio" value="No">
            <label class="govuk-label govuk-radios__label" for="higher-further-education-2">
              No
            </label>

          </div>




        </div>

      </fieldset>

    </div>





    <!--





    <div class="govuk-form-group">

      <fieldset class="govuk-fieldset">


        <div class="govuk-radios" data-module="govuk-radios">







          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="goose0types" name="goose0types" type="radio" value="White-fronted goose">
            <label class="govuk-label govuk-radios__label" for="goose0types">
              White-fronted goose
            </label>

          </div>








          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="goose0types-2" name="goose0types" type="radio" value="Barnacle goose">
            <label class="govuk-label govuk-radios__label" for="goose0types-2">
              Barnacle goose
            </label>

          </div>








          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="goose0types-3" name="goose0types" type="radio" value="Brent goose">
            <label class="govuk-label govuk-radios__label" for="goose0types-3">
              Brent goose
            </label>

          </div>








          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="goose0types-4" name="goose0types" type="radio" value="Barnacle goose">
            <label class="govuk-label govuk-radios__label" for="goose0types-4">
              Barnacle goose
            </label>

          </div>








          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="goose0types-5" name="goose0types" type="radio" value="Greylag goose">
            <label class="govuk-label govuk-radios__label" for="goose0types-5">
              Greylag goose
            </label>

          </div>








          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="goose0types-6" name="goose0types" type="radio" value="Canada goose">
            <label class="govuk-label govuk-radios__label" for="goose0types-6">
              Canada goose
            </label>

          </div>








          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="goose0types-7" name="goose0types" type="radio" value="Bean goose">
            <label class="govuk-label govuk-radios__label" for="goose0types-7">
              Bean goose
            </label>

          </div>








          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="goose0types-8" name="goose0types" type="radio" value="Pink-footed goose">
            <label class="govuk-label govuk-radios__label" for="goose0types-8">
              Pink-footed goose
            </label>

          </div>








          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="goose0types-9" name="goose0types" type="radio" value="Egyptian goose">
            <label class="govuk-label govuk-radios__label" for="goose0types-9">
              Egyptian goose
            </label>

          </div>





          <div class="govuk-radios__divider">or</div>







          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="goose0types-11" name="goose0types" type="radio" value="Not sure">
            <label class="govuk-label govuk-radios__label" for="goose0types-11">
              Not sure
            </label>

          </div>




        </div>

      </fieldset>

    </div>



    -->












    <button type="submit" class="govuk-button" data-module="govuk-button">
      Continue
    </button>


          </form>


  {{ appProseScope(content) if content }}
{% endblock %}

{% block footer %}
{% endblock %}
