{# Plugin layouts can be loaded from "layouts" #}
{% set title = "Examples of improved link focous" %}

{% extends "layouts/page.njk" %}

{% block header %}
{% endblock %}

{# Load any GOV.UK Frontend components #}

{% block content %}

<p class="govuk-body"><a class="govuk-link" href="#">Link</a></p>


{% endblock %}

{% block footer %}
{% endblock %}
