---
layout: example-partial.njk
title: Examples of complex information
eleventyExcludeFromCollections: true
---

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
  <span class="govuk-caption-xl">
        Improved version
        </span></span>
        <h1 class="govuk-heading-l">
      Check if you can apply

              </h1>
        <form class="form" action="/content/original-explanation" method="post">




<p class="govuk-body">

You can only apply if you are:
</P>
<ul class="govuk-list govuk-list--bullet govuk-list--spaced">
  <li>
    constructing, altering, repairing, extending, demolishing or dismantling buildings or structures (whether permanent or not), including offshore installation services
  </li>
  <li>
    constructing, altering, repairing, extending, demolishing of any works forming, or planned to form, part of the land, including (in particular) walls, roadworks, power lines, electronic communications equipment, aircraft runways, railways, inland waterways, docks and harbours
  </li>
  <li>
    pipelines, reservoirs, water mains, wells, sewers, industrial plant and installations for purposes of land drainage, coast protection or defence
  </li>
  <li>
    installing heating, lighting, air-conditioning, ventilation, power supply, drainage, sanitation, water supply or fire protection systems in any building or structure
</ul>


{{ govukRadios({
  classes: "govuk-radios--inline",
  name: "changedName",
  fieldset: {
    legend: {
      text: "Do you meet the conditions to apply?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}

        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
              </form>
