---
layout: example-partial.njk
title: Examples of complex information
eleventyExcludeFromCollections: true
---

{% from "govuk/components/accordion/macro.njk" import govukAccordion %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
  <span class="govuk-caption-xl">
        Improved version
        </span></span>
          <form class="form" action="/content/original-explanation" method="post">


                          {{ govukCheckboxes({
                            name: "countries",
                            fieldset: {
                              legend: {
                                text: "Are you doing any of these activities?",
                                isPageHeading: true,
                                classes: "govuk-fieldset__legend--l"
                              }
                            },
                            hint: {
                              text: "Select all countries that apply"
                            },
                            items: [
                              {
                                value: "france",
                                text: "Constructing, altering, repairing, extending, demolishing or dismantling buildings or structures (whether permanent or not), including offshore installation services"
                              },
                              {
                                value: "portugal",
                                text: "Constructing, altering, repairing, extending, demolishing of any works forming, or planned to form, part of the land, including (in particular) walls, roadworks, power lines, electronic communications equipment, aircraft runways, railways, inland waterways, docks and harbours"
                              },
                              {
                                value: "spain",
                                text: "Pipelines, reservoirs, water mains, wells, sewers, industrial plant and installations for purposes of land drainage, coast protection or defence"
                              },
                              {
                                value: "something",
                                text: "Installing heating, lighting, air-conditioning, ventilation, power supply, drainage, sanitation, water supply or fire protection systems in any building or structure"
                              },
                              {
                                divider: "or"
                              },
                              {
                                value: "none",
                                text: "None of these",
                                behaviour: "exclusive"
                              }
                            ]
                          }) }}






        <button type="submit" class="govuk-button" data-module="govuk-button">
          Continue
        </button>
              </form>
