<span class="govuk-caption-xl">
       Improved version
      </span>
      <h1 class="govuk-heading-xl">
        Bank details
      </h1>
  <p class="govuk-body">Last updated 1 January 2025.</p>
<hr>

      <h2 class="govuk-heading-m">Current account balance</h2>
      <p class="govuk-body">Your balance is £1,929.32</p>
    <!--  <p>Last updated 1 January 2025.</p> -->

<hr>


      <h2 class="govuk-heading-m">Savings account balance</h2>

      <p class="govuk-body"> Your balance is £532.43</p>
<!--      <p>Last updated 1 January 2025.</p> -->
      <p class="govuk-body">This account has a 5% AER interest rate</p>

<hr>
      <h2 class="govuk-heading-m">Credit card balance</h2>


      <p class="govuk-body">Your balance is -£231.99</p>
<!--      <p class="govuk-body">Last updated 1 January 2025.</p> -->
      <p class="govuk-body">This account has a 9% AER interest rate</p>
<hr>
