{% from "govuk/components/tabs/macro.njk" import govukTabs %}
<span class="govuk-caption-l">Original version</span>

<h1 class="govuk-heading-l">
  Bank details
</h1>

{{ govukTabs({
  items: [
    {
      label: "Current account",
      id: "current-account",
      panel: {
        html: '<h2 class="govuk-heading-m">Current account balance</h2><p class="govuk-body">Your balance is £1,929.32</p><p class="govuk-body">Last updated 1 January 2025</p>'
      }
    },
    {
      label: "Savings account",
      id: "savings-account",
      panel: {
        html: '<h2 class="govuk-heading-m">Savings account balance</h2><p class="govuk-body">Your balance is £532.43</p><p class="govuk-body">Last updated 1 January 2025</p><p class="govuk-body">This account has a 5% AER interest rate</p>'
      }
    },
    {
      label: "Credit card",
      id: "credit-card",
      panel: {
        html: '<h2 class="govuk-heading-m">Current account balance</h2><p class="govuk-body">Your balance is -£231.99</p><p class="govuk-body">Last updated 1 January 2025</p><p class="govuk-body">This account has a 9% AER interest rate</p>'
      }
    }
  ]
}) }}
