---
layout: example-partial.njk
title: Examples of complex information
eleventyExcludeFromCollections: true
---
  <span class="govuk-caption-xl">
        Improved version
        </span>






                            </span>
                            <form class="form" action="/content/accessible-explanation" method="post">








                                  <h1 class="govuk-heading-l">Examples of complex information</h1>





                            <p class="govuk-body">This information is here.</p>

                            <h2 class="govuk-heading-m">Writing well for the web</h2>
                            <p class="govuk-body">This is the content for Writing well for the web.</p>

                              <h2 class="govuk-heading-m">Writing well for specialists</h2>
                              <p class="govuk-body">This is the content for Writing well for specialists.</p>

                                <h2 class="govuk-heading-m">Know your audience</h2>
                                <p class="govuk-body">This is the content for Know your audience.</p>

                                  <h2 class="govuk-heading-m">How people read</h2>
                                  <p class="govuk-body">This is the content for How people read.</p>

















                                </form>
