---
layout: example-partial.njk
title: Name
eleventyExcludeFromCollections: true
---

{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
  {# Templates can include front matter data #}
  {{ govukNotificationBanner({
    text: "This page was last reviewed on " + (reviewed | date("d LLLL y")) + ".
    It needs to be reviewed again on " + (reviewAgain | date("d LLLL y")) + "."
  }) if reviewed and reviewAgain }}



  {% from "govuk/components/radios/macro.njk" import govukRadios %}
  {%- from "govuk/components/tag/macro.njk" import govukTag -%}


  <span class="govuk-caption-xl">
          Improved version
        </span>



        <form class="form" action="/complex-hints/accessible-explanation" method="post">













      <div class="govuk-form-group">
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="account-number">
            What is your Self Assessment Unique Taxpayer Reference (UTR)?
          </label>
        </h1>



        <div id="account-number-hint" class="govuk-hint">
          Your UTR can be 10 or 13 digits long. You can find it in your Personal Tax Account, the HMRC app, on tax returns and other documents from HMRC.
                It might be called ‘reference’, ‘UTR’ or ‘official use’.
        </div>


        <input class="govuk-input govuk-input--width-10" id="account-number" name="accountNumber" type="text" spellcheck="false" aria-describedby="account-number-hint" inputmode="numeric">

      </div>




          <p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/find-utr-number">How to find your UTR</a></p>













      <button type="submit" class="govuk-button" data-module="govuk-button">
        Continue
      </button>


            </form>
