{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
<form class="govuk-!-width-two-thirds" action="#" method="post">
  {{ govukRadios({
    fieldset: {
      legend: {
        classes: "govuk-fieldset__legend--l",
        text: "How do you want to sign in?",
        isPageHeading: true
      }
    },
    hint: {
      html: 'You’ll need an account to prove your identity and <a class="govuk-link" href="#">complete your Self Assessment</a> if you have not filed a tax return online before</a>.'
    },
    name: "signIn",
    items: [
      {
        value: "government-gateway",
        text: "Sign in with Government Gateway",
        hint: {
          text: "You’ll have a user ID if you’ve registered for Self Assessment or filed a tax return online before."
        }
      },
      {
        value: "govuk-one-login",
        text: "Sign in with GOV.UK One Login",
        hint: {
          text: "If you don’t have a GOV.UK One Login, you can create one."
        }
      }
    ]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>
