$govuk-font-family: system-ui, sans-serif;
$govuk-brand-colour: #8822aa;
$govuk-link-colour: #660088;
$govuk-link-hover-colour: #440066;
$govuk-link-visited-colour: #333366;
$govuk-page-width: 1100px;

//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
//

// Add extra styles here

@import "node_modules/govuk-frontend/dist/govuk/all";

/*
*, body, h1, h2, h3, h4, h5, p, a, span, .govuk-heading-m, .govuk-heading-l, .govuk-heading-xl, .govuk-heading-s, .govuk-list, .govuk-fieldset__legend, .govuk-label, .govuk-hint,  html, body, form, fieldset, table, tr, td, img, button  {
  font-family: "Helvetica", "Arial", sans-serif !important;
} */


/*

.govuk-button {
  background-color: #003078;
}




.govuk-button:hover {
  background-color: #05005a;
}

*/

/* fixing app header issues - remove if fixed upstream */

/*
.govuk-header__container {
  border-bottom: 11px solid $govuk-brand-colour !important;
}

.app-header--no-border {
    border-bottom: 10px solid $govuk-brand-colour !important;
    margin-bottom: 0;
}

.x-govuk-masthead {
  margin-top: -15px !important;
  display: block !important;
}

.x-govuk-masthead > .govuk-width-container .govuk-breadcrumbs{
padding-top: 11px !important;
}
*/
/* end fixing app header issues  */

.option-toggle {
    width: 100%;
    text-align: right;
    display: inline-block;
}

.option-toggle-select__list{
    float: right;
    margin-top: 1em;
    text-align: right;
}

.option-toggle-select__list-item {
    display: inline-block;
}

.option-toggle-select__list-item:not(:last-child):after, .footer-links-list:not(:last-child):after {
    border-right: .09375em solid #0b0c0c;
    content: "";
    display: inline-block;
    height: 1em;
    position: relative;
    top: .1875em;
}


/// app examples
// Example styles
.app-example-wrapper {
  @include govuk-responsive-margin(6, "top");
  @include govuk-responsive-margin(6, "bottom");
  border: 1px solid $govuk-border-colour;
  border-top: 0;
  max-width: auto;
  // max-width: 38em; //added to match with 'prose' examples

}

.app-example {
  @include govuk-font-size($size: 16);
  position: relative;
  border-top: 1px solid $govuk-border-colour;
  // Add a 'checkerboard' background
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAJUlEQVQoU2P88ePHfwY0wMHBwYguxjgUFKI7GsTH5m4M3w1ChQAZTSeO0/AZpgAAAABJRU5ErkJggg==")
    repeat;
}

.app-example--tabs {
  @include govuk-responsive-margin(0, "bottom");
}

.app-example__toolbar {
  padding: 10px;
  border-bottom: 1px solid $govuk-border-colour;
  background: $govuk-body-background-colour;
}

.app-example__frame {
  display: block;
  width: 100%;
  max-width: 100%;
  border: 0;
  border-right: 1px solid $govuk-border-colour;
  background: govuk-colour("white");
}

// Default size
.app-example__frame,
.app-example__frame--xs {
  height: 150px;
}

.app-example__frame--s {
  height: 250px;
}

.app-example__frame--m {
  height: 350px;
}

.app-example__frame--l {
  height: 450px;
}

.app-example__frame--xl {
  height: 550px;
}

.app-example__frame--resizable {
  min-width: 230px;
  min-height: govuk-spacing(6) * 2;
  overflow: auto;
  transform: translate3d(0, 0, 0);
  @include govuk-media-query($from: desktop) {
    resize: both;
  }
}

.app-example__code {
  position: relative;
}


// =========================================================
// Tabs (desktop)
// =========================================================

.app-tabs {
  margin: -1px auto;
  padding: 0;
  overflow: visible;
  list-style-type: none;
  border-top: 1px solid $govuk-border-colour;

  @include govuk-media-query($until: desktop) {
    display: none;
  }

  .app-prose-scope & {
    // A specific selector to reset .app-prose-scope ul
    margin-bottom: 0;
    padding: 0;
    font-size: 0; // Prevent white space taking up space between tabs
  }
}

.app-tabs__item {
  @include govuk-font-size($size: 19);
  display: inline-block;
  position: relative;
  padding: govuk-spacing(4);

  a {
    display: block;

    .app-prose-scope &:visited {
      color: $govuk-link-colour;
    }

    .app-prose-scope &:focus {
      color: $govuk-focus-text-colour;
    }

    // Extend the touch area of the <a> to fill the entire tab
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }

  // A specific selector to reset .app-prose-scope ul li
  .app-prose-scope & {
    margin: 0;
  }
}

.app-tabs__item--current {
  border-right: 1px solid $govuk-border-colour;
  border-left: 1px solid $govuk-border-colour;
  background: govuk-colour("white");

  // Offset the added borders
  .app-prose-scope & {
    margin: 0 -1px;
  }

  // No left hand border is required for the first tab, as it would just double
  // up the border of its parent
  &:first-child {
    border-left: 0;

    .app-prose-scope & {
      margin-left: 0;
    }
  }

  a {
    .app-prose-scope & {
      color: $govuk-text-colour;
      @include govuk-link-style-no-underline;
    }
  }
}

// =========================================================
// 'Accordion' (mobile and tablet)
// =========================================================

.app-tabs__heading {
  display: none;
  position: relative;
  padding: govuk-spacing(3);
  border-top: 1px solid $govuk-border-colour;

  @include govuk-media-query($until: desktop) {
    display: block;
  }

  .app-tabs__heading-button {
    @include govuk-link-common;
    @include govuk-link-decoration;
    @include govuk-font-size($size: 19);

    border: 0;
    outline: 0;
    color: $govuk-link-colour;
    background: none;
  }

  .app-tabs__heading-link,
  .app-tabs__heading-button {
    // Extend the touch area of the <a> to fill the entire heading
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    .app-prose-scope &:visited {
      color: $govuk-link-colour;
    }

    .app-prose-scope &:focus {
      color: $govuk-focus-text-colour;
    }
  }
}

.app-tabs__heading--current {
  border-bottom: 0;

  a {
    @include govuk-link-style-no-underline;
  }
}

// =========================================================
// Code blocks
// =========================================================

.app-tabs__container {
  padding: 20px;
  border-top: 1px solid $govuk-border-colour;
  background-color: govuk-colour("white");

  // When used for tabs, position to underlap tabs
  @include govuk-media-query($from: desktop) {
    margin-top: -1px;
  }
}

.app-tabs__container pre code {
  outline: 1px solid transparent;
  color: $govuk-text-colour;
/*  background-color: govuk-colour("light-grey"); */
}

.govuk-main-wrapper {
  padding-bottom: 0;
}





/*
Name:   Duotone Light
Author: Simurai, adapted from DuoTone themes for Atom (http://simurai.com/projects/2016/01/01/duotone-themes)

Conversion: Bram de Haan (http://atelierbram.github.io/Base2Tone-prism/output/prism/prism-base2tone-morning-light.css)
Generated with Base16 Builder (https://github.com/base16-builder/base16-builder)
*/

code[class*="language-"],
pre[class*="language-"] {
	font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", "Courier New", Courier, monospace;
	font-size: 14px;
	line-height: 1.375;
	direction: ltr;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
	background: #faf8f5;
	color: #728fcb;
}

pre > code[class*="language-"] {
	font-size: 1em;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: govuk-colour("light-grey");
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: govuk-colour("light-grey");
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #b6ad9a;
}

.token.punctuation {
	color: #b6ad9a;
}

.token.namespace {
	opacity: .7;
}

.token.tag,
.token.operator,
.token.number {
	color: #063289;
}

.token.property,
.token.function {
	color: #b29762;
}

.token.tag-id,
.token.selector,
.token.atrule-id {
	color: #2d2006;
}

code.language-javascript,
.token.attr-name {
	color: #896724;
}

code.language-css,
code.language-scss,
.token.boolean,
.token.string,
.token.entity,
.token.url,
.language-css .token.string,
.language-scss .token.string,
.style .token.string,
.token.attr-value,
.token.keyword,
.token.control,
.token.directive,
.token.unit,
.token.statement,
.token.regex,
.token.atrule {
	color: #728fcb;
}

.token.placeholder,
.token.variable {
	color: #93abdc;
}

.token.deleted {
	text-decoration: line-through;
}

.token.inserted {
	border-bottom: 1px dotted #2d2006;
	text-decoration: none;
}

.token.italic {
	font-style: italic;
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.important {
	color: #896724;
}

.token.entity {
	cursor: help;
}

pre > code.highlight {
	outline: .4em solid #896724;
	outline-offset: .4em;
}

/* overrides color-values for the Line Numbers plugin
 * http://prismjs.com/plugins/line-numbers/
 */
.line-numbers.line-numbers .line-numbers-rows {
	border-right-color: #ece8de;
}

.line-numbers .line-numbers-rows > span:before {
	color: #cdc4b1;
}

/* overrides color-values for the Line Highlight plugin
 * http://prismjs.com/plugins/line-highlight/
 */
.line-highlight.line-highlight {
	background: rgba(45, 32, 6, 0.2);
	background: -webkit-linear-gradient(left, rgba(45, 32, 6, 0.2) 70%, rgba(45, 32, 6, 0));
	background: linear-gradient(to right, rgba(45, 32, 6, 0.2) 70%, rgba(45, 32, 6, 0));
}
