{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}
<form class="govuk-!-width-two-thirds" action="#" method="post">
  <span class="govuk-caption-l">Improved version</span>

  <h1 class="govuk-heading-l">
    Your name
  </h1>

  {{ govukInput({
    label: {
      text: "First name or names"
    },
    hint: {
      text: "This must be your legal first name or names"
    },
    id: "first-name",
    name: "firstName",
    autocomplete: "first-name",
    spellcheck: false
  }) }}

  {{ govukInput({
    label: {
      text: "Middle name or names (if you have them)"
    },
    id: "middle-names",
    name: "middleName",
    autocomplete: "additional-name",
    spellcheck: false
  }) }}

  {{ govukInput({
    label: {
      text: "Family name or names"
    },
    id: "lastName",
    name: "lastName",
    autocomplete: "family-name",
    spellcheck: false
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}
</form>
