// GOV.UK Frontend
@use "pkg:govuk-frontend/dist/govuk/base" with (
  $govuk-template-background-colour: transparent
);

// GOV.UK Prototype components
@use "pkg:@x-govuk/govuk-prototype-components/src/x-govuk";

// Simulate GOV.UK Element for outdated link styles
.govuk-elements {
  .govuk-link {
    text-decoration-thickness: auto;
    text-underline-offset: auto;

    &:link,
    &:active {
      color: #005ea5;
    }

    &:visited {
      color: #4c2c92;
    }

    &:hover {
      color: #2b8cc4;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
    }

    &:focus {
      background-color: #ffbf47;
      box-shadow:
        0 0 transparent,
        0 0 transparent;
      color: #005ea5;
      // stylelint-disable-next-line declaration-no-important
      outline: 3px solid #ffbf47 !important;
    }
  }
}
