{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}
<span class="govuk-caption-l">Original version</span>

{{ govukTable({
  caption: "Check previous details",
  captionClasses: "govuk-table__caption--l",
  rows: [
    [
      {
        text: "Name"
      },
      {
        text: "Sarah Philips"
      }
    ],
    [
      {
        text: "Date of birth"
      },
      {
        text: "5 January 1978"
      }
    ],
    [
      {
        text: "Address"
      },
      {
        html: "72 Guild Street<br>London<br>SE23 6FH"
      }
    ],
    [
      {
        text: "Contact details"
      },
      {
        html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>'
      }
    ]
  ]
}) }}

{{ govukRadios({
  fieldset: {
    legend: {
      classes: "govuk-fieldset__legend--m",
      text: "Are these details correct?"
    }
  },
  name: "details",
  items: [
    {
      text: "Yes"
    },
    {
      text: "No"
    }
  ]
}) }}

{{ govukButton({
  text: "Save and continue"
}) }}
